* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  color: #666;
  font-family: Helvetica, sans-serif;
  /* background: #333; */
}

.app {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 600px; */
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0.5rem 0;
  color: rgb(255, 120, 0);
}

h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.form {
  margin: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 65%;
  height: 2.5rem;
  margin: 0 5%;
  padding-top: 0.8rem;
  outline: none;
  border: none;
  border-bottom: 2px #555 solid;
  color: rgb(255, 120, 0);
  font-size: 1.5rem;
}

::placeholder {
  color: #bbb;
}

.btn {
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  border: 2px #666 solid;
  cursor: pointer;
  background: none;
  outline: none;
  color: #666;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn:hover {
  border: 2px solid rgb(255, 120, 0);
  color: rgb(255, 120, 0);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #efefef;
}

.list {
  width: 90%;
  /* list-style: none; */
}

.list li {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;
}

.list-item {
  font-size: 1.25rem;
  color: rgb(255, 120, 50);
}

.list-button {
  display: flex;
}

.edit,
.delete {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 700;
  outline: none;
}

.edit {
  position: absolute;
  right: 20%;
  background: none;
  border: 1px solid #666;
  color: #666;
}

.edit:hover {
  border: 1px solid rgb(255, 120, 0);
  color: #616161;
  background: rgb(255, 120, 0);
}

.delete {
  position: absolute;
  right: 5%;
  background: #666;
  color: white;
}

.delete:hover {
  background: rgb(255, 120, 0);
}
